.flow-container {position: relative}

.design-container {height: calc(100vh - 113px);

  .lf-dndpanel {height: calc(100vh - 123px);overflow: auto;}
}

.flow-control-btn {position: absolute;right: 20px;top: 18px;z-index: 10}

.task-apply {
  .item {margin-bottom: 40px;

    h3 {border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
      font-size: 16px;margin-bottom: 15px;}
  }

  .list {display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > div {margin-right: 20px;display: flex;align-items: center;cursor: pointer}
    .icon{font-size: 30px;margin-right: 5px;border-radius: 10px;}
  }
}