
.flow-container {overflow-x: auto;display: flex;flex-direction: column;align-items: center}
.flow-group {position: relative;background: #fff}
.flow-box {border: 1px solid #eee;box-shadow: 0 0 6px rgba(102, 102, 102, 0.1);height: 80px;border-radius: 5px;overflow: hidden;display: flex;flex-direction: column;transition: all .3s;position: relative;z-index: 2;background: #fff;width: 180px;
  &:hover {border-color: rgb(85, 197, 192);
    .title .close {visibility: visible;opacity: 1}
  }
  .title {background: rgb(85, 197, 192);color: #fff;display: flex;align-items: center;padding: 3px 10px;justify-content: space-between;
    span {flex: 2}
    .close {transform: scale(.8);visibility: hidden;transition: all .3s;opacity: 0;cursor: pointer}
    i {font-size: 14px;margin-right: 3px}
    &.bg-2 {background: rgb(255, 148, 62)}
    &.bg-5 {background: none;color: #666}
    &.bg-3 {background: rgb(50, 150, 250)}
  }
  .text {flex: 1;display: flex;align-items: center;padding: 5px 15px;cursor: pointer}
}
.flow-add {padding: 8px 0;position: relative;font-size: 12px;
  i {width: 30px;height: 30px;border-radius: 50%;border: 1px solid #eee;box-shadow: 0 0 6px rgba(102, 102, 102, 0.1);display: flex;align-items: center;justify-content: center;margin: 0 auto;background: #fff;position: relative;z-index: 2;cursor: pointer;transform: scale(.7);
  }
  &:before {content: '';display: block;width: 1px;left: 50%;background: #eee;position: absolute;top: 0;bottom: 0}
}
.flow-item {flex: 1;margin: 0 5px;display: flex;flex-direction: column;align-items: center;position: relative;
  &:before {content: '';display: block;width: 1px;top: 0; bottom: 0;left: 50%;background: #eee;position: absolute}
}
.flow-row {display: flex;margin: 0 auto;position: relative}
.flow-branch-btn {display: none}
.flow-branch {padding: 40px 0 1px;display: flex;flex-direction: column;
  .flow-branch-btn {display: block;position: absolute;left: 50%;top: 0;transform: translateX(-50%);z-index: 2}
  &:before {content: '';display: block;left: 0;right: 0;bottom:46px;top: 12px;border: 1px solid #eee;position: absolute}
  .flow-item { // 中线
    &:before {top: -28px}
    &:after {content: '';display: none;width: 50%;top: 0;background: #fff;}
  }
  .mask-left, .mask-right {position: absolute;background: #fff;top: -28px;display: block;bottom: -1px;width: calc(50% + 9px)}
  .mask-left {left: -10px}
  .mask-right {right: -10px}
}
.flow-end {
  box-shadow: 0 2px 10px 0 rgb(145 145 153 / 50%);margin: 0 auto 30px;border-radius: 50%;position: relative;background: #bcbcc5;width: 50px;height: 50px;color: #fff;display: flex;align-items: center;justify-content: center;
}
.flow-node-down {
  h3 {font-size: 14px;margin-bottom: 10px}
  div {display: flex}
  i {font-size: 14px;margin-right: 5px}
}
