@charset "UTF-8";
@include ns(btn) {
  display: inline-block;line-height: 1;white-space: nowrap;cursor: pointer;background: #fff;border: 1px solid #dcdfe6;color: #666; text-align: center; box-sizing: border-box;outline: none;padding: 12px 20px;border-radius: 4px;font-size: 14px;transition: .1s;
  &:hover {
    opacity: .8;
  }
  &.is-round {border-radius: 30px;}
  &.is-disabled {cursor: not-allowed;background-color: #fff;border-color: #ebeef5;
    &:hover {}
  }
  /*以上为默认*/
  /*要对每种type定义不同的状态，如type=primary*/
  &.#{$namespace}btn-primary {
    //&.ak-btn-primary{
    color: #fff;background-color: #409eff;border-color: #409eff;
    &:hover {}
    /*disabled and disabled hover*/
    &.is-disabled {color: #fff;background-color: #a0cfff;border-color: #a0cfff;
      &:hover {}
    }
  }
  &.#{$namespace}btn-text {
    //文字链接按钮
    color: #333;background: none;border: 0;padding: 0; border-radius: 0;cursor: pointer;
  }
  + .ak-btn {margin-left: 5px}
}
