@charset "utf-8";
@include ns(form-item) {position: relative;margin-bottom: 20px;display: flex;
  @include ns(form-label) { text-align: right;font-size: 14px;color: #606266;padding: 0 12px 0 0;box-sizing: border-box;width: 90px;line-height: 38px;
    &.required {
      &:before {content: '*';color: #f00;display: inline-block;vertical-align: middle;}
    }
  }
  @include ns(form-box) {flex: 2;min-height: 38px;display: flex;align-items: center;position: relative;
    @include ns(checkbox) {}
    @include ns(switch) {}
  }
  /*错误提示*/
  @include ns(form-tips) {color: #f00;margin: 0 5px;position: absolute;left: 0;top: 38px;}
  /*文本框*/
  @include ns(textarea) {
    display: block;float: left;
  }
  &.auto-height {height: auto;overflow: hidden;}
}
